.message {

    margin-left: auto;
    margin-right: auto;
    padding: 40px 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    bottom: 10px;

}

.success {
    color: green;
}


.hidden {
    display: none;
}
